body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

#gameArea {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #eee;
    overflow: hidden;
    border: 2px solid #000;
}

#lives {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #000;
    font-family: Arial, sans-serif;
}

#car {
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    left: 225px;
    /* Centrado inicialmente en el tercer carril */
    background-color: blue;
    /* Cambia esto por la imagen de tu coche */
    background-size: cover;
}

.obstacle {
    position: absolute;
    top: 0;
    width: 50px;
    /* Tamaño uniforme */
    height: 50px;
    /* Tamaño uniforme */
    background-color: red;
    /* Cambia esto por la imagen del obstáculo */
    background-size: cover;
}